/* Estilos generales */

/*font*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*general*/

body {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    font-size: 13px;
    background: #333;
    background-size: cover;
    background-repeat: no-repeat;
}


   /* Fondos tiempo Tarjetas busqueda */

   .fondo_soleadoC {
    background: url("/images/iconosColor/01d.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.fondo_noite_claraC {
    background: url("/images/iconosColor/01n.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_soleado_poucas_nubesC {
    background: url("/images/iconosColor/02d.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_noite_poucas_nubesC {
    background: url("/images/iconosColor/02n.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_dia_nubladoC {
    background: url("/images/iconosColor/03d.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_noite_nubladoC {
    background: url("/images/iconosColor/03n.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_nubladoC {
    background: url("/images/iconosColor/04d.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_moita_choivaC {
    background: url("/images/iconosColor/09d.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_pouca_choivaC {
    background: url("/images/iconosColor/10d.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_tormentaC {
    background: url("/images/iconosColor/11n.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_neveC {
    background: url("/images/iconosColor/13d.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

.fondo_neboaC {
    background: url("/images/iconosColor/50n.gif") #333;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;

}

/* PanelPrincipal */

.loading{
    height: 100vh;
    width: 100vw;
    background: #333;
    padding-left: 45vw;
    padding-top: 40vh;
    }
    
    .weather-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 30px;   
    }
    
    
    @media only screen and (min-width: 600px) {
    .weather-datos {
        padding-top: 8vh;
    }
    }
    
    
    .temperature-value p {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 90px !important;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    }
    
    
    .temperature-description {
    padding-top: 10px;
    }
    
    .temperature-description p {
    color: #fff;
    text-align: center;
    font-size: 40px !important;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    }
    
    
    .location p {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 18px !important;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    }



h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    margin: 8px 0;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:focus {
    outline: 0;
}

a.link-color {
    color: #FF4D27;
}

a.link-color:hover {
    color: #FF4D27;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
